<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
