<h1>Welcome To Your New Life</h1>
<p>With the sqaud its possible.</p>

<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
<%= link_to "Bullbuster Community", "https://bullbuster.net/community/articles/how-to/", class: "social-btn" %>
